thread-view {
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  /* padding: 8px 0; */
  background: var(--color-page-alt);
}

.splash-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-faded);
}

.interaction .page {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  height: 100%;
  padding: var(--space-3) var(--space-5);
}

.interaction .page {
  /* border-top: 0.5px solid var(--color-border); */
}

.interaction:first-child .page {
  padding-top: 12px;
}

.interaction:last-child .page {
  padding-bottom: 12px;
  /* min-height: 90%; */
  /* align-self: stretch; */
}

.interaction-input {
  font-weight: 500;
  padding: var(--space-4) var(--space-5);
  background: var(--color-input);
  align-self: flex-start;
  user-select: text;
  border-radius: var(--rounded);
}

.data-output,
.loading {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text-faded);
  padding: 4px;
}

.data-output .applet-icon {
  width: 16px;
  height: 16px;
}

.data-output .applet-name {
  font-weight: 500;
}

.block,
.applet-output {
  border: 1px solid var(--color-border);
  border-radius: var(--rounded);
  background: var(--color-page);
  overflow: hidden;
}

.block {
  padding: var(--space-4) var(--space-5);
  user-select: text;
}

.block a {
  color: var(--color-text-faded);
}
.block ol {
  margin: 8px 0;
}

.block h1,
.block h2,
.block h3 {
  font-size: inherit;
}

.block ul,
.block ol {
  padding-left: 1.5em;
}

.block code {
  font-weight: 600;
  font-size: var(--text-xs);
}

.block pre {
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 1.3em;
  background: var(--color-neutral-15);
  padding: 20px;
  border-radius: var(--rounded);
  word-break: break-word;
}

.block pre code {
  font-weight: 400;
}

.block strong,
.block b {
  font-weight: 600;
}

.block p {
  margin-bottom: 8px;
}
.block p:last-child {
  margin: 0;
}

.block li {
  margin-bottom: 4px;
}
.block li:last-child {
  margin: 0;
}

/* Alt */

/* .block {
  padding: 0;
  border: 0;
  background: none;
}

.interaction .page {
  padding-top: 36px;
  margin: 0;
  margin-left: 24px;
}

.interaction + .interaction .page {
  border-top: 0.5px solid var(--color-border);
}

.interaction-input {
  width: 600px;
  font-weight: 400;
  color: #555;
  border-radius: 12px;
  padding: 8px 12px;
  margin-bottom: 12px;
} */
