@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: IosevkaTerm;
  src: url('/fonts/IosevkaTerm-Regular.woff2');
}

:root {
  --color-neutral-1: #111;
  --color-neutral-2: #222;
  --color-neutral-3: #616161;
  --color-neutral-4: #888;
  --color-neutral-5: #ccc;
  --color-neutral-6: #d2d2d2;
  --color-neutral-7: #f1f1f1;
  --color-neutral-8: #f8f8f8;
  --color-neutral-9: #fff;

  --color-page: var(--color-neutral-9);
  --color-page-alt: var(--color-neutral-8);
  --color-command-bar: var(--color-neutral-6);
  --color-text: var(--color-neutral-1);
  --color-text-faded: var(--color-neutral-3);
  --color-border: var(--color-neutral-6);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
li {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body,
input,
textarea {
  font-family: 'Source Sans 3', system-ui, sans-serif;
  font-size: 15px;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

body {
  background: var(--color-page-alt);
  color: var(--color-text);
}

.page {
  width: 100%;
  max-width: 800px;
  padding: 0 12px;
  margin: 0 auto;
}
