@import url(./reset.css);

@font-face {
  font-family: 'iA Writer Mono';
  src: url('/fonts/iA Writer Mono V.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Mono';
  src: url('/fonts/iA Writer Mono V-Italic.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('/fonts/iA Writer Quattro V.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Quattro';
  src: url('/fonts/iA Writer Quattro Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Fallback static fonts */
@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('/fonts/iAWriterQuattroS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('/fonts/iAWriterQuattroS-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('/fonts/iAWriterQuattroS-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iA Writer Quattro S';
  src: url('/fonts/iAWriterQuattroS-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

:root {
  /* Colors */
  --color-neutral-0: #fcfdff;
  --color-neutral-5: #f0f1f3;
  --color-neutral-10: #e4e5e7;
  --color-neutral-15: #d8d9db;
  --color-neutral-20: #cccdd0;
  --color-neutral-30: #b4b5b8;
  --color-neutral-40: #9c9da0;
  --color-neutral-50: #858588;
  --color-neutral-60: #6e6e71;
  --color-neutral-70: #565759;
  --color-neutral-80: #3f3f41;
  --color-neutral-90: #28282a;
  --color-neutral-100: #111112;

  --color-action: #0f2fe4;
  --color-error: #df4815;
  --color-warning: #ffed68;
  --color-success: #58bb1f;

  /* Spacing */
  --space-base: 4px;
  --space-1: calc(var(--space-base) * 0.5);
  --space-2: calc(var(--space-base) * 1);
  --space-3: calc(var(--space-base) * 1.5);
  --space-4: calc(var(--space-base) * 2);
  --space-5: calc(var(--space-base) * 3);
  --space-6: calc(var(--space-base) * 4);
  --space-7: calc(var(--space-base) * 5);
  --space-8: calc(var(--space-base) * 6);
  --space-9: calc(var(--space-base) * 7);

  /* Border radius */
  --rounded-sm: 2px;
  --rounded: 4px;

  --font-sans: 'iA Writer Quattro', 'iA Writer Quattro S', system-ui, sans-serif;
  --font-mono: 'iA Writer Mono', monospace;

  /* Font size */
  --text-scale: 1.125;
  --text-3xl: calc(var(--text-2xl) * var(--text-scale));
  --text-2xl: calc(var(--text-xl) * var(--text-scale));
  --text-xl: calc(var(--text-lg) * var(--text-scale));
  --text-lg: calc(var(--text-base) * var(--text-scale));
  --text-base: 14px;
  --text-sm: calc(var(--text-base) / var(--text-scale));
  --text-xs: calc(var(--text-sm) / var(--text-scale));

  /* Theme */
  --color-page: var(--color-neutral-0);
  --color-page-alt: var(--color-neutral-5);
  --color-text: var(--color-neutral-90);
  --color-text-faded: var(--color-neutral-60);
  --color-border: var(--color-neutral-15);
  --color-input: var(--color-neutral-15);
}

* {
  box-sizing: border-box;
}

a {
  color: currentColor;
}

a:hover {
  color: var(--color-action);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  /* overscroll-behavior: contain; */
  user-select: none;
}

body,
input,
textarea {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--text-base);

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-smooth: always; */

  line-height: 1.3;
}

body {
  background: var(--color-page);
  color: var(--color-text);
  -webkit-overflow-scrolling: touch;
  display: flex;
  direction: column;
  /* position: fixed; */
  padding-bottom: env(safe-area-inset-bottom);
}

.page {
  width: 100%;
  max-width: 900px;
  padding: 0 12px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-base);
}

h6 {
  font-size: var(--text-sm);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
}

input {

}

input.error {
  border-color: var(--color-error);
}

.error-text {
  color: var(--color-error);
}

.prose {
  max-width: 65ch;
  line-height: 1.5;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  margin-top: var(--space-8);
  margin-bottom: var(--space-4);
  line-height: 1.3;
  font-weight: 600;
}

.prose p,
.prose ul,
.prose ol,
.prose blockquote {
  margin-bottom: 1.5em;
}

.prose ul,
.prose ol {
  padding-left: 1.5em;
}

.prose li {
  margin-bottom: 0.5em;
}

.prose a {
  text-underline-offset: 0.2em;
}

.prose blockquote {
  border-left: 2px groove var(--color-text-faded);
  padding-left: var(--space-6);
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

.prose blockquote *:last-child {
  margin-bottom: unset;
}

.prose code {
  font-family: var(--font-mono);
  padding: 0.2em 0.4em;
  background: var(--color-neutral-15);
  border-radius: 3px;
}

.prose pre {
  font-family: var(--font-mono);
  padding: 1.5em;
  background: var(--color-neutral-15);
  border-radius: 6px;
  overflow-x: auto;
  margin-bottom: 1.5em;
}

.prose pre code {
  background: none;
  padding: 0;
  color: var(--color-text);
}

.prose hr {
  border: none;
  border-bottom: 1px solid var(--color-page);
  border-top: 1px solid var(--color-neutral-20);
  margin: var(--space-9) 0;
}

.prose mark {
  background: var(--color-warning);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

.prose small {
  font-size: var(--text-sm);
}

.prose kbd {
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  padding: 0.2em 0.4em;
  background: var(--color-page);
  border: 1px solid var(--color-neutral-40);
  border-bottom-width: 2px;
  border-radius: 4px;
}

.prose sub,
.prose sup {
  font-size: var(--text-xs);
}

.prose abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}
